@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url(reset.css);

body {
   font-family: "Nunito", sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-container {
  flex: 1;                  
  overflow-y: auto;         
  /* padding-bottom: 60px;      */
}

*{
box-sizing: border-box;
}
/* login */
.main-cotainer__login{
background-color: #fee500;
}
.login-header{
    padding: 20px;
    display: flex;
    align-items: center;
    gap:20px;
    justify-content: flex-end;

}
.login-logo{
    text-align: center;
    margin: 50px 0;
    display: flex;
    justify-content: center;
    position: relative;
}
.login-logo i{
    font-size: 120px;
}
.login-logo span{
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   color:#fee500;
   font-size: 40px;
   font-weight: 500;
}
.login-forms{
    justify-content: center;
    display: flex;
     /* text-align: center; */
     /* display: flex; */
}

.login-forms form{
    width: 70%;
     display: flex;
    flex-direction: column;
    /* gap: 20px; */
    position: relative;
    text-align: center;
}
.login-forms input, .login-forms button{
    padding: 10px;
}

.login-forms input[type="email"]{
border-radius: 2px 2px 0 0;
border-width: 1px 1px 0px;
border-bottom: 1px solid #ccc;
/* background: linear-gradient(to right, #f5f5f5 99%, transparent 99%) center bottom / 99% 1px no-repeat; */
}


.login-forms input[type="password"]{
border-width: 0 1px 1px;
border-radius: 0 0 2px 2px;
}

.login-forms button{
    border-radius:2px;
    margin: 20px 0;
    background-color: #ffffff;
    border-width: 1px 1px 1px;
    cursor: pointer;
}
.or-line{
    position: relative;
    text-align: center;
    color: gray;
    font-size: 14px;
}
.or-line::before, .or-line::after{
    content: "";
    position: absolute;
    top: 50%;
    width: 45%;
    height: 1px;
    background-color: #f5f5f5;
}
.or-line::before{
    left: 0;
}
.or-line::after{
    right: 0;
}
.keep-login{
    display: flex;
    gap: 10px;
    align-items: center;
    position: relative;
}
.circle-check {
    display: flex;
    gap: 5px;
    left: 0;
    align-items: center;
}
.circle-check input {
position: absolute;
  opacity: 0;   
  
}


.circle-check span{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    cursor: pointer;
}
.circle-check span i {
    display: none;
}
.circle-check input:checked + span i{
 display: block;
 
}
.keep-login a{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid gray;
   background-color: rgba(237, 214, 0, 0.5); 
    display: flex;
    align-items: center;
    justify-content: center;
}


.find-account{
    width: 80%;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
.find-account > span {
    padding: 0 10px;
}


/* friends */

.first-header-top{
    padding: 20px 20px 10px 20px;
    display: flex;
   justify-content: space-between;
}
.phone-icons{
    display: flex;
    gap: 5px;
}
.second-header-top{
    padding: 20px 20px 10px 20px;
    display: flex;
    justify-content: space-between;
}


.second-header-top a{
    margin-left: 15px;
    font-size: 20px;
}

.second-header-top__profile{
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    gap: 5px;
}
.second-header-top__profile img{
    width: 30px;
    height: 30px;
    border-radius: 10px;
    object-fit: cover;
}

.third-header-top{
    padding: 20px;
}

.third-header-top a {
    display: inline-block;
    padding: 8px 18px;
    border-radius: 20px;
    border: 1px solid gray;
    margin-right: 6px;
    font-weight: 400;
}
.third-header-top a:first-child{
    color: #fff;
    background-color: #000;
}
.ad-banner{
    box-sizing: border-box;
    margin: 0 20px 40px 20px;
    padding: 20px;
    background-color: rgba(237, 214, 0, 0.5); 
    border-radius: 8px;
    text-align: center;
}

.updated-profiles, .friends{
    margin: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.588);
}
.updated-profiles >p, .friends>p{
    font-size: 13px;
    margin-bottom: 18px;
}
.updated-profiles__list {
    display: flex;
    gap: 25px;
    overflow-x: hidden;
    width: 98%;
    text-align: center;
}


.updated-profiles__list p{
    width:55px;
    padding-top: 10px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    font-size: 12px;
}
.updated-profiles__list_element{
   text-align: center;
}

.updated-profiles__list_element img{
    width: 60px;
    height: 60px;
    border-radius: 20px;
    object-fit: cover;
}
.updated-profiles__list_element__myprofile {
    position: relative;
}
.updated-profiles__list_element__myprofile .fa-pen{
    position: absolute;
    bottom: 23px;
    right: -5px;
    width: 20px;
    height: 20px;
    font-size: 10px;
    border-radius: 50%;
    background-color: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.updated-profiles__list_element__newprofile{
    position: relative;
}
.updated-profiles__list_element__newprofile::before{
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
     border-radius: 50%;
    background-color: #dd502a;
    left: -3px;
    top: -43px;
}
.friends__profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.friends ul li {
    margin-bottom: 20px;
}

.friends__profile img{
    width: 55px;
    height: 55px;
    border-radius: 21px;
    object-fit: cover;
}
.friends__profile__info {
    gap: 10px;
    display: flex;
    align-items: center;

}
.buy-gift{
 font-size: 14px;
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid gray;
    box-shadow: 0 0 5px 2px rgba(232, 232, 230, 0.5);
}
.friends__profile__name{
    font-size: 18px;
    margin-bottom: 10px;
}

.friends__profile__name i {
    font-size: 15px;
}
.friends__profile__date {
    color: #a5a5a5;
    font-size: 13px;
}
.kakao__data{
    color: #a5a5a5;
    font-size: 15px;
}
.check-birthday{
    padding-top: 15px;
}

.friends_sortby{
    display: flex;
    justify-content: space-between;
        font-size: 13px;
    margin-bottom: 18px;
}
.friends__list {
    border-bottom: none;
    margin-bottom: 0;
}


.main-footer {
  flex-shrink: 0;       
  height: 80px;
  background: #ededed;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 23px;
  color: gray;
}
.main-footer__chats{
position: relative;
}
.main-footer__chats >span{
    position: absolute;
    font-size: 10px;
    right: -15px;
    top: -9px;
    z-index: 1;
    padding: 4px 6px;
    border-radius: 10px;
    background-color: #dd502a;
    color: #fff;
    font-weight: 500;
}


/* chats */

.unread-list i{
     font-size: 17px;
    color:rgba(0, 136, 255, 0.702);
}
.unread-list span{
    font-size: 10px;
    position: relative;
    top: -2px;
    padding: 2px 5px;
    border-radius: 12px;
    background-color: #dd502a;
    color: #fff;
    font-weight: 700;
}

.chatgpt span{
    display: inline-block;
    width: 15px;
    height: 15px;
    font-size: 10px;
    border-radius: 50%;
    background-color: #dd502a;
    color: #fff;
    text-align: center;
    line-height: 15px;
      font-weight: 700;
     position: relative;
    top: -2px;
}
.third-header-top .add-folder{
    padding: 8px;
    border-radius: 50%;

}
.friends__profile__chats__wrapper{
    gap: 10px;
}
.friends__profile__chats{ 
    flex: 8; 
    min-width: 0;
} 

.friends__profile__chats_details{
     min-width: 0;
}

.friends__profile__chats__content{
 color: #a5a5a5; 
 font-size: 13px; 
 overflow: hidden;
 text-overflow: ellipsis; 
white-space:nowrap;
}

.friends__profile__chats__datainfo{ 
    flex: 1; 
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
}
.friends__profile__chats__datainfo__time{
     color: #a5a5a5; 
     font-size: 10px; 
}
.friends__profile__chats__datainfo__unread {
    padding: 4px 7px;
   font-size: 11px;
   line-height: 10px;
   font-weight: 500;
    border-radius: 20px;
    background-color: #dd502a;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* openchats */
.friends__profile__name span{
    color: #a5a5a5;
    font-size: 16px;
    font-weight: 600;
}


/* shopping */

.shopping-banner-wrapper{
    padding: 0 20px;
}
.shopping-banner-wrapper_lists{
    width: 100%;
    display: flex;
    gap: 10px;
}

.shopping-banner-wrapper_lists__index{
    flex: 0 0 300px;
    min-width: 0;
    height: 400px;
    position: relative;
}
.shopping-banner-wrapper_lists::after {
  content: "";
  flex: 0 0 10px; /* 마지막에 20px짜리 빈 공간 */
}

.shopping-banner-wrapper_lists__index__big_img{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
}
.shopping-banner-wrapper_lists__index__first::after {
  content: "";
  position: absolute;
  inset: 0; 
  border-radius: 8px;
  background: linear-gradient(
    rgba(196, 122, 25, 0) ,
      rgba(196, 122, 25, 0.208) ,
    rgba(196, 122, 25, 0.699) ,   
    rgba(196, 122, 25, 0.774)         
  );
  z-index: 1;
}
.shopping-banner-wrapper_lists__index__second::after {
  content: "";
  position: absolute;
  inset: 0; 
  border-radius: 8px;
  background: linear-gradient(
    rgba(196, 122, 25, 0) ,
      rgba(124, 119, 113, 0.208) ,
    rgba(67, 66, 65, 0.699) ,   
     rgba(67, 66, 65, 0.974)       
  );
  z-index: 1;
}
.shopping-banner-wrapper_lists__index__status{
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #fff;
    padding: 5px;
    border-radius: 20px;
    display: flex;
    font-size: 13px;
    align-items: center;
    justify-content: center;
    gap: 40px;
    font-weight: 700;
    color: #262323;
    z-index: 2;
}
.shopping-banner-wrapper_lists__index__status__img_container{
    position: relative;

}

.shopping-banner-wrapper_lists__index__status__img_container img{
   position: absolute;
   left: 0;
   top: -10px;
    width: 20px;
    border-radius: 8px;
    padding: 0;
}


.shopping-banner-wrapper_lists__index__status img:nth-child(2){
    left: 7px;
}
.shopping-banner-wrapper_lists__index__status img:nth-child(3){
    left: 15px;
}

.shopping-banner-wrapper_lists__index__content{
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    font-weight: 600;
     z-index: 2;
}

.shopping-banner-wrapper_lists__index__content__comment{
    font-size: 12px;
    background-color: rgb(49, 44, 44);
    font-weight: 700;
    color: #dec90c;
    margin-bottom: 10px;
    padding: 5px;
    display: inline-block;
    border-radius: 10px;
    position: relative;
    z-index: 2;
}
.shopping-banner-wrapper_lists__index__content__comment::before{
content: "";
  position: absolute;
  bottom: -12px;  
  left: 8px;      
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-top-color: rgb(49, 44, 44);
   z-index: 1;
}
.shopping-banner-wrapper_lists__index__content .sale-price{
    margin: 20px 0;
   font-size: 20px;
   font-weight: 800;
}
.shopping-banner-wrapper_lists__index__content .sale-price >span{
    font-size: 15px;
    background-color: #dd502a;
    border-radius: 5px;
    padding: 3px;
    font-weight: 600;
}

.original-price{
    text-decoration: line-through;
    font-size: 14px;
}
.free-ship{
    position: relative;
    margin-left: 5px;
    top: -2px;
    font-weight: 400;
     font-size: 10px;
     padding: 2px;
     border-radius: 7px;
     background-color: #26232369;
}
.shopping-icons{
margin-top: 20px;
 box-shadow: 0 0 5px 2px rgba(23, 23, 22, 0.5);
border-radius: 8px;
display: flex;
gap: 10px;
padding: 20px;
text-align: center;
}
.shopping-icons li{
    flex: 1;
}
.shopping-icons p{
    padding-top: 20px;
}
.shopping-deals{
    margin: 40px 0;
    position: relative;
    overflow: hidden;
}
.shopping-deals__img img{
    margin: 20px 0;
    border-radius: 8px;
    width: 100%;
    height: 250px;
     object-fit: cover;
}
.talk_deal_price__banner{
    font-size: 17px;
    color: rgb(30, 69, 245);
    font-weight: 700;
}
.talk_deal_price{
    font-weight: 800;
    font-size: 19px;
}
.shopping-deals .free-ship{
    margin-left: 0;
    font-size: 12px;
    background-color: transparent;
}

.shopping-deals p{
    margin: 7px 0;
}
.max-benefit{
    font-size: 14px;
    font-weight: 600;
    color: #dd502a;
}
.max-befefit-price{
    font-weight: 800;
}
.max-benefit__coupon{
    font-size: 12px;
}

.real-time{
    font-size: 13px;
    font-weight: 500;
    color:#524f4fe1;
}
.real-time-wrapper{
    display: flex;
    justify-content: space-between;
}

/* more */

.kakao-pay-banner{

background-color: #fce40f;
margin: 0 20px;
padding: 20px;
border-radius: 8px;
display: flex;
justify-content: space-between;
align-items: center;
}
.my-pay{
        font-weight: 600;
    display: flex;
    align-items: center;
}
.my-pay__pay{
    position: relative;
    top: -2px;
    font-size: 19px;
    padding: 0 4px;
}
.line{
    margin: 0 10px;
}
.more-icons-wrapper{
    margin: 30px 20px;
    box-shadow: 0 0 5px 2px rgba(23, 23, 22, 0.5);
    border-radius: 8px;
    padding: 20px 0 5px 0;
}

.more-icons-wrapper__list{
    display: flex;
    text-align: center;
    margin-bottom: 30px;
}
.more-icons-wrapper__list li{
    flex: 1;
}
.more-icons-wrapper__list  i {
    padding-bottom: 22px;
}

/* chat */
.main-container__chat{
    background-color: #bacee0;
    position: relative;
}
.chat-container-header {
    padding: 5px 8px;
    font-size: 20px;
    display: flex;
      flex-shrink: 0;       
    height: 50px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.chat-container-header__name{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.chat-date{
text-align: center;
padding: 10px 0;
}

.chat-date span{
font-size: 13px;
background-color: #a7b9c9;
border-radius: 15px;
padding: 5px 20px;
}
.chat-contents{
padding: 20px 30px;
}
.chat-contents > div {
    margin-bottom:30px;
}
.partner__profile{
    position: relative;
}
.partner__profile img{
    width: 55px;
    height: 55px;
    border-radius: 21px;
    object-fit: cover;
}
.partner__profile{
    display: flex;
    gap: 15px;
}

.partner__profile p{
    line-height: 1.2em;
    margin-top: 10px;
    padding: 7px;
    border-radius: 7px;
    background-color: #fff;
    position: relative;
    
}
.partner__profile p:first-child:before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-right-color: #fff;
    left: -18px;
    top: 10px;
}

.chat-contents__partner{
    display: flex; 
    align-items: end; 
    gap:5px;
}
.chat-contents__partner >div, .mine-chat{
max-width: 80%;     /* 최대 크기 제한 */
min-width: 10px;     /* 최소 크기 제한 */
}

.chat-time{
    font-size: 10px;
}
.mine{
    display: flex;
    justify-content: flex-end;
    position: relative;
    align-items: flex-end;
    gap:5px;
}
.mine-chat{
    background-color: #ffea2a;
    line-height: 1.2em;
    padding: 7px;
    border-radius: 7px;
    position: relative;
}

.mine-chat::after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-left-color: #ffea2a;
    right: -18px;
    top: 3px;
}

.chat-footer{
    flex-shrink: 0;       
  height: 60px;
  padding: 10px 20px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 7px;
}

.chat-footer .fa-plus, .chat-footer .fa-hashtag{
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius:50%;
    font-size: 14px;
    background-color: rgba(128, 128, 128, 0.197);
} 
.chat-footer > p{
    flex: 1;
    position: relative;
}
.chat-footer input{
    border: 1px solid yellow;
    width: 100%;
    
    background-color:  rgba(128, 128, 128, 0.197);
    border: none;
    padding: 9px 10px;
    padding-right: 50px;
    border-radius: 15px;
}
.chat-footer .fa-face-smile{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

/* mobile */
#no-mobile {
  position: absolute;
  z-index: 99;
  height: 100vh;
  background-color: #dec90c;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  top: 0;
}

@media screen and (max-width: 645px) {
  #no-mobile {
    display: none;
  }
}